<a href="https://colab.research.google.com/github/wmchale5/jupyter-notebook-introduction-data-science-intro-000/blob/master/OMDB_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#OMDB Exploratory analysis

In [0]:
!ls ../movies_rated.csv

bin	 dev   lib32  movies_rated.csv	run    sys		   usr
boot	 etc   lib64  opt		sbin   tensorflow-2.0.0a0  var
content  home  media  proc		srv    tmp
datalab  lib   mnt    root		swift  tools

In [0]:
import pandas as pd

omdb_df= pd.read_csv('movies_rated.csv')
print(omdb_df.head())

Import the data CSV as dataframe (See above for link to dataset)
Print first 5 rows

##Print out the num rows and cols in the dataset

In [17]:
print(omdb_df.shape)

(79, 9)

##Print out column names

In [20]:
print(omdb_df.columns)

Index(['title', 'year', 'content_rating', 'genre', 'duration', 'gross',
       'Internet Movie Database', 'Rotten Tomatoes', 'Metacritic'],
      dtype='object')

## Print column data types

In [23]:
print(omdb_df.dtypes)

title                       object
year                         int64
content_rating              object
genre                       object
duration                     int64
gross                        int64
Internet Movie Database    float64
Rotten Tomatoes            float64
Metacritic                 float64
dtype: object

##how many un

In [22]:
print(omdb_df['genre'].nunique())

12

In [24]:
print(omdb_df['genre'].value_counts(dropna=False))

Crime                  16
Drama                  14
Action                 11
Adventure               9
Drama                   7
Biography               5
Animation               5
Comedy                  4
Western                 3
Mystery                 2
Horror                  2
Comedy                  1
Name: genre, dtype: int64

In [27]:
print(omdb_df[omdb_df['content_rating']=='R'].sort_values(by ='Internet Movie Database', ascending= False).head(5))

                            title  year  ... Rotten Tomatoes Metacritic
0        The Shawshank Redemption  1994  ...             9.1        8.0
1                   The Godfather  1972  ...             9.8       10.0
3          The Godfather: Part II  1974  ...             9.7        9.0
5                Schindler's List  1993  ...             9.7        9.3
7  The Good, the Bad and the Ugly  1966  ...             9.7        9.0

[5 rows x 9 columns]

In [28]:
print(omdb_df['Rotten Tomatoes'].mean())

9.087341772151895

In [29]:
top_five= omdb_df.sort_values(by ='Rotten Tomatoes', ascending= False).head(5)
print('top 5 is:', top_five['Rotten Tomatoes'].mean())

top 5 is: 10.0

##What is the Five Number Summary like for top rated films as per IMDB?

In [30]:
print(omdb_df[['Internet Movie Database']].describe())

       Internet Movie Database
count                79.000000
mean                  8.537975
std                   0.222056
min                   8.300000
25%                   8.400000
50%                   8.500000
75%                   8.600000
max                   9.300000